<div class='sidebar'>
  <div class='top'>
    <div class='logo'>
      <i class='bx bx-store'></i>
      <span>Ecommerce</span>
    </div>
    <i class='bx bx-menu' id='btn' (click)='handleButtonClick()'></i>
  </div>
  <div class='user'>
    <img src='src\assets\sebastian.png' alt='me' class='user-img' />
    <div>
      <p class='bold'>Sebastian Olaran</p>
      <p>Admin</p>
    </div>
  </div>


  <ul>
    <li>
      <a routerLink="/inicio">
        <i class='bx bxs-grid-alt'></i>
        <span class='nav-item'>Inicio</span>
      </a>
      <span class='tooltip'>Inicio</span>
    </li>
    <li>
      <a routerLink="/productos">
        <i class='bx bx-bookmarks'></i>
        <span class='nav-item'>Productos</span>
      </a>
      <span class='tooltip'>Productos</span>
    </li>
    <li>
      <a routerLink="/ordenes">
        <i class='bx bx-basket'></i>
        <span class='nav-item'>Ordenes</span>
      </a>
      <span class='tooltip'>Ordenes</span>
    </li>
    <li>
      <a routerLink="/config">
        <i class='bx bx-cog'></i>
        <span class='nav-item'>Configuraciones</span>
      </a>
      <span class='tooltip'>Configuraciones</span>
    </li>
    <li>
      <a href=''>
        <i class='bx bx-log-out'></i>
        <span class='nav-item'>Logout</span>
      </a>
      <span class='tooltip'>Logout</span>
    </li>
  </ul>

</div>


<nav id="hamburger-nav">

   <div class="nav-icon">
      <i class='bx bx-store'></i>
   </div>
   <div class="hamburger-menu">
      <div class="hamburger-icon" (click)="toggleMenu()" >
         <i class='bx bx-store'></i>
      </div>
      <div class="menu-links">
         <ul>
            <li><a href="#sobre-mi" onclick="toggleMenu()">Sobre Mi</a></li>
            <li><a href="#tecnologias" onclick="toggleMenu()">Tecnologias</a></li>
            <li><a href="#projectos" onclick="toggleMenu()">Projectos</a></li>
            <li><a href="#contacto" onclick="toggleMenu()">Contacto</a></li>
         </ul>
      </div>
   </div>
</nav>
