@media only screen and (min-width: 768px) {
   /*Side bar parte sin toggle*/
   .sidebar {
      display: flex;
      top: 0;
      left: 0;
      height: 100vh;
      width: 10vw; /* Cambiado a 20vw para el ancho */
      background-color: black;
      padding: .4rem .8rem;
      transition: all 0.5s ease;
      color: azure;
      position:fixed;
      flex-direction: column;
      justify-content: space-between;
   }

   i {
      font-size: 20px;
   }


   .top {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .top .logo {
      display: none;
   }


   .user {
      display: flex;
      justify-content: center;
      align-items: center;

   }

   .user div {
      display: none;
   }


   ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: .9;
      align-items: center;
      margin: 1.5rem;

   }


   li a {
      text-decoration: none;
      color: white;
   }

   li .nav-item {
      display: none;
   }

   #hamburger-nav{
      display: none;
   }

   .user-img {
      width: 70px;
      border-radius: 100%;
      border: 1px solid white;
   }


   li .tooltip {
      color: black;
      font-weight: bold;
      position: absolute;
      left: 15rem;
      box-shadow: 0 .5rem 0.8rem rgba(0, 0, 0, 0.2);
      border-radius: .6rem;
      z-index: 20;
      opacity: 0;
      display: none;
      font-size: 1.3rem;
      padding: .4rem 1.2rem;


   }


   li:hover .tooltip {
      display: inline;
      opacity: 1;
   }


   /*Toggle activo*/
   .sidebar.active * {
      font-size: 20px;
   }


   .sidebar.active .tooltip {
      display: none;
   }

   .sidebar.active {
      width: 20vw;
   }

   .sidebar.active span {
      display: inline
   }


   .sidebar.active .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }


   .sidebar.active .top i {
      font-size: 25px;
   }

   .sidebar.active .logo {
      display: flex;
      align-items: center;
      gap: 1rem;
   }

   .sidebar.active .logo span {
      font-size: 30px;
   }


   .sidebar.active .user {
      display: flex;
      justify-content: flex-start;
      gap: 1.5rem;
   }


   .sidebar.active .user div {
      display: flex;
      flex-direction: column;

   }


   .sidebar.active .user div p {
      font-size: 20px;
   }

   .sidebar.active .user div .bold {
      font-weight: bold;
   }


   .sidebar.active li {
      width: 100%;
   }


   .sidebar.active li a {


      display: flex;
      justify-content: flex-start;
      gap: 1.5rem;
   }
}


/* Estilos para dispositivos móviles */
@media only screen and (max-width: 767px) {

   i {
      font-size: 2rem;
      color: white;
   }



   .sidebar {
      display: none;
   }

   #hamburger-nav {
      background-color: black;
      color: #fff;
      height: 10vh;
      width: 100%; /* Ocupa todo el ancho disponible */
      max-width: 100%; /* No excede el ancho del viewport */
      display: flex;
      justify-content: space-between;
      align-items: center;

   }


   .hamburger-menu {
      position: relative;
      display: inline-block;
   }





   .menu-links {
      position: absolute;
      top: 100%;
      right: 5px;
      background-color: white;
      width: fit-content;
      max-height: 0;
      overflow: hidden;

   }

   .menu-links a {
      display: block;
      padding: 10px;
      text-align: center;
      font-size: 1.5rem;
      color: black;
      text-decoration: none;

   }

   .menu-links li {
      list-style: none;
   }

   .menu-links.open {
      max-height: 300px;
   }

   .hamburger-icon.open span:first-child {
      transform: rotate(45deg) translate(10px, 5px);
   }

   .hamburger-icon.open span:nth-child(2) {
      opacity: 0;
   }

   .hamburger-icon.open span:last-child {
      transform: rotate(-45deg) translate(10px, -5px);
   }

   .hamburger-icon span:first-child {
      transform: none;
   }

   .hamburger-icon span:first-child {
      opacity: 1;
   }

   .hamburger-icon span:first-child {
      transform: none;
   }

}
