

<button (click)="volver()" class="volver-btn">Volver</button>
<div class="formulario">
<form>
   <h2>Formulario de Productos</h2>
   <fieldset>
      <legend>Productos</legend>

      <select [(ngModel)]="productoSeleccionado" name="productoSeleccionado">
         @for (opcion of productosResultados | async; track opcion.nombre) {
            <option [value]="opcion.nombre">{{ opcion.nombre }}</option>
         }
      </select>
      <input type="number" [(ngModel)]="cantidadSeleccionada" name="cantidadSeleccionada" placeholder="Cantidad">

      <button type="button" (click)="agregarProducto(productoSeleccionado)">Agregar Producto</button>

      <div class="mensaje-error">
         <p>   {{ mostrarMensaje }} </p>
      </div>

      <div id="productos-agregados">
         @for (producto of productosAgregados; track producto) {
            <div class="producto">
            <p>{{ producto.nombre }} - Cantidad: {{ producto.cantidad }}</p>
            <button (click)="eliminar(producto.nombre)">Borrar</button>
               </div>
         }
      </div>
   </fieldset>

   <button type="button" [disabled]="!puedoEnviar()" (click)="enviarFormulario()">Enviar</button>
</form>
</div>
