@if (productosResultados$ | async; as resultObject) {


  <div class="main">

    <app-nav-bar></app-nav-bar>


    <div class='pantalla'>

      <button class='add' (click)="agregarProducto()">Añadir Producto</button>

      <div class='productos'>
        <h3>Producto</h3>
        <div class='productos-info'>
          @for (producto of resultObject; track producto.id_producto) {
            <div class='producto'>
              <p class='nombre-producto'>{{ producto.nombre }}</p>
              <div class='botones'>
                <button class='edit' (click)="editarProducto(producto.id_producto)">Edit</button>
                <button class='delete' (click)="eliminarProducto(producto.id_producto)">Delete</button>
              </div>
            </div>

          }
        </div>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
}

