
@media only screen and (min-width: 768px) {
   .main .pantalla {

      flex: 1;
      display: flex;
      flex-direction: column;
      background-color: #F5F5F5;
   }


   .boxes {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-around;
   }


   .box h2 {
      font-size: 2.8rem;
      padding: 0 1.8rem;
      text-decoration: underline;
   }

   .conteinerBox {
      display: flex;
      justify-content: space-around;
      gap: 0.5rem;
      padding: 2rem 0;
   }


   .box_info {
      background: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      border-radius: 8px; /* Añade bordes redondeados */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Añade una sombra sutil */
      width: 17rem;
      height: 10rem;
   }


   .fecha {
      font-size: 2.5rem;
      color: #11235A;
   }


   .valor {
      color: black;
      font-size: 2rem;
   }


}

@media only screen and (max-width: 767px) {
   .pantalla{
      flex: 1;
      flex-direction: row;
   }

}

