<div class="main">
  <app-nav-bar></app-nav-bar>

  <div class="pantalla">


    <div class="boxes">

      <div class="box">
        <h2>Ordenes</h2>

        <div class="conteinerBox">

          <div class="box_info">


            <h4 class="fecha">Diarias</h4>

            <h3 class="valor">{{ this.ventasDiarias}}</h3>


          </div>

          <div class="box_info">

            <h4 class="fecha">Semanales</h4>

            <h3 class="valor">{{ this.ventasSemanal }}</h3>


          </div>

          <div class="box_info">

            <h4 class="fecha">Mensuales</h4>

            <h3 class="valor">{{ this.ventasMensual }}</h3>


          </div>


        </div>

      </div>

      <div class="box">
        <h2>Venta</h2>

        <div class="conteinerBox">

          <div class="box_info">

            <h4 class="fecha">Diaria</h4>

            <h3 class="valor"> ${{ this.montoDiario }}</h3>


          </div>

          <div class="box_info">

            <h4 class="fecha">Semanal</h4>

            <h3 class="valor">$ {{ this.montoSemanal }}</h3>


          </div>

          <div class="box_info">

            <h4 class="fecha">Mensual</h4>

            <h3 class="valor">$ {{ this.montoMensual }}</h3>


          </div>


        </div>

      </div>

    </div>

  </div>


</div>



