<div class="login-box">

  <img src="./assets/usuario.png" class="avatar">
  <h1>Login</h1>


  <form (ngSubmit)="onSubmit()" [formGroup]="formularioIngreso">

    <label for="email">Email</label>
    <input type="text" id="email" formControlName="email" placeholder="Email"><br>


    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password" placeholder="Password"><br>


    <button type="submit" class="btn btn-primary" [disabled]="formularioIngreso.invalid">Iniciar Sesión</button>

    <div>{{ mostrarMensaje }}</div>

    <a routerLink="/registrar">
    <span>Registrar</span>
    </a>

  </form>
</div>

