<h2>Formulario de Productos</h2>

<form>
   <fieldset>
      <legend>Productos</legend>

      <select [(ngModel)]="productoSeleccionado">
         @for (opcion of opcionesEnum; track opcion) {
            <option [value]="opcion">{{ opcion }}</option>
         }
      </select>
      <input type="number" [(ngModel)]="cantidadSeleccionada" placeholder="Cantidad">

      <button type="button" (click)="agregarProducto()">Agregar Producto</button>

      <div>
         @for (producto of productosAgregados; track producto) {
            <p>{{ producto.nombre }} - Cantidad: {{ producto.cantidad }}</p>
         }
      </div>
   </fieldset>

   <button type="button" [disabled]="!puedoEnviar()" (click)="enviarFormulario()">Enviar</button>
</form>
