
.main .pantalla {

   flex: 1;
   display: flex;
   flex-direction: column;
   background-color: #F5F5F5;
   margin-left: 12.2rem;

}


.add {
   appearance: none;
   background-color: #FAFBFC;
   border: 1px solid rgba(27, 31, 35, 0.15);
   border-radius: 6px;
   box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
   box-sizing: border-box;
   color: #24292E;
   cursor: pointer;
   display: inline-block;
   font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
   font-size: 14px;
   font-weight: 500;
   line-height: 20px;
   list-style: none;
   padding: 6px 16px;
   transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
   user-select: none;

   -webkit-user-select: none;
   touch-action: manipulation;
   vertical-align: middle;
   white-space: nowrap;
   word-wrap: break-word;
}

   .add :hover {
      background-color: #F3F4F6;
      text-decoration: none;
      transition-duration: 0.1s;
   }


   .add:disabled {
      background-color: #FAFBFC;
      border-color: rgba(27, 31, 35, 0.15);
      color: #959DA5;
      cursor: default;
   }

   .add:active {
      background-color: #EDEFF2;
      box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
      transition: none 0s;
   }

   .add:focus {
      outline: 1px transparent;
   }

   .add:before {
      display: none;
   }



   .productos h3 {
      margin: 1rem 0.5rem;
      font-size: 2rem;
   }




   .titulo{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem 0;

   }

.producto, .info-tabla {
   padding: 1rem 0.5rem;
   justify-content: space-around;
   appearance: none;
   background-color: #FAFBFC;
   border: 1px solid rgba(27, 31, 35, 0.15);
   border-radius: 6px;
   box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
   box-sizing: border-box;
   color: #24292E;
   margin: 1rem 0.5rem;
   align-items: center;
   display: grid;
   grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual ancho */
   grid-template-rows: auto auto; /* 2 filas de altura automática */
   justify-items: center;


}

.info-tabla p{
   font-weight: bold;
   font-size: 1.3rem;
}

   .nombre-producto{
      font-size: 1.2rem;
   }

   .botones button {
      margin: 0 1rem;
      appearance: none;
      background-color: #000000;
      border: 2px solid #1A1A1A;
      border-radius: 15px;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      padding: 0.3rem 1rem;
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
      outline: none;

   }


   .botones  i{
      color: white;
      font-size: 3rem;

   }

.opciones {
   align-items: center;
   background-color: #FFFFFF;
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: .25rem;
   box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
   box-sizing: border-box;
   color: rgba(0, 0, 0, 0.85);
   cursor: pointer;
   display: inline-flex;
   font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 16px;
   font-weight: 600;
   justify-content: center;
   line-height: 1.25;
   margin: 0;
   min-height: 3rem;
   padding: calc(.875rem - 1px) calc(1.5rem - 1px);
   position: relative;
   text-decoration: none;
   transition: all 250ms;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   vertical-align: baseline;
   width: auto;
}

.opciones:hover,
.opciones:focus {
   border-color: rgba(0, 0, 0, 0.15);
   box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
   color: rgba(0, 0, 0, 0.65);
}

.opciones:hover {
   transform: translateY(-1px);
}

.opciones:active {
   background-color: #F0F0F1;
   border-color: rgba(0, 0, 0, 0.15);
   box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
   color: rgba(0, 0, 0, 0.65);
   transform: translateY(0);
}

@media only screen and (max-width: 767px) {
   .add{
      height: 3rem;
   }


   .producto{
      margin: 1rem 0;
   }
}
